{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="hero text-white p-5 mb-4 rounded" style="background-color: #8B0000;">
    <h1 class="display-4">About</h1>
    <p class="lead">This site was developed to support my parents' wine business. I aim to improve my site for the best user experience possible.</p>
  </div>
  <div class="hero text-white p-5 mb-4 rounded" style="background-color: #8B0000;">
    <h1 class="display-4">Credits</h1>
    <p class="lead">This site was developed by Dachi Razmadze with the help of TBC Education and GeoLab. Check them out here:</p>
    <a href="https://tbceducation.ge" target="_blank" class="btn btn-primary">Visit TBC Education</a>
  </div>
</div>
{% endblock %}









